body {
    border: none;
    margin: 0;
}

h1 {
    text-align: center;
    margin-top: 0;
}

#heading {
    background-image: url('./images/main_background.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

#temperature {
    color:red
}

#setpoint {
    color: blue
}

#orange {
    color: orange
}

#output{
    color: green
}